@model SalesOrdersProject.Models.ShoppingCartModel

<div class="navbar">
    @Html.ActionLink("Checkout", "Index", "ShoppingCart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn"})
</div>

<div class="navbar">
    <a href=@Url.Action("Index", "ShoppingCart",
            new { returnUrl = Request.Url.PathAndQuery })
       class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>

<div class="navbar-text">
    <strong class="hidden-xs">Cart:</strong>
    @Model.Items.Sum(x => x.Quantity) item (x),
    @Model.GetCartTotal().ToString("c")
</div>