@{
    ViewBag.Title = "About Mynyl Vinyl";
}
<h2 id="aboutHeader">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />
<br />

<iframe class="aboutVideo" width="560" height="315" src="https://www.youtube.com/embed/8_Qo4qCDgyk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br />
<br />

<p class="homeDescription">
    Mynyl Vinyl will buy your used records, 7 days a week, and offers the option of both cash or a greater dollar amount in trade. 
    We welcome you to show us what you wish to sell, every day of the week. We have buyers available at all hours with no appointment necessary, 
    but we do ask that you to bring in your collection at least one hour prior to closing.
    <br />
    <br />
    Condition of course is a priority for our store, given we absolutely guarantee everything we sell.  So, condition, availability, and demand for items by our customers are the 
    determining factors in what we pay.  Your Records, CDs or DVDs must include their original covers or jewel boxes in reasonable shape and the discs themselves must be in excellent condition.
    <br />
    <br />
    What was popular in 1953 or 1965, or even one year ago may no longer be in demand, or we may already have sufficient stock of an item that we don’t wish to purchase additional copies.  
    But that does not mean we don’t literally purchase thousands of items in a week or even a day, because we do!  So please feel free to bring in your music or movies during our 
    business hours---WE ARE HERE TO BUY AND SELL THE BEST MUSIC WE CAN FIND.

</p>