@{
    ViewBag.Title = "About";
}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=" device-width" />
    <title>About Us</title>
</head>
<body>

    <div id="aboutUsImage">
        <img src="~/Image/LBEHeaderAboutUs1.jpg" />
    </div>


    <p class="paragraph">
        At Luke's Bike Emporium, we’re dedicated to sharing our knowledge and our passion with you, whether you’re visiting us to purchase your first bike,
        you’re returning to us for your annual bike maintenance, or you’re new to the area and in search of riding buddies. We carry a wide selection of best-in-class bicycles,
        cycling apparel, and cycling accessories, and we offer many beneficial programs to ensure that you’re enjoying exceptional value and convenient service.
        You can expect our product selection to feature the latest and greatest.
        We thank you for choosing Luke's Bike Emporium, and we look forward to supporting you for many miles, on and off the road.
    </p>

    <p class="paragraph">
        We understand that your bike is worth more than the sum of its parts. Cycling is a way of life that represents good health, fun, freedom, personal expression,
        a love for the outdoors, and respect for the environment. Whether you are a recreational rider or a fierce competitor, our knowledgeable staff is here to help you find the bicycle,
        accessories, and cycling apparel perfectly suited to fit your riding style.
    </p>

    <p class="paragraph">
        We live and breathe cycling. Luke's Bike Emporium is a full-service bike retailer, carrying a broad assortment of bike brands, components and accessories,
        and our repair shops are staffed with some of the best-trained professionals in the industry.

        Our friendly expert Service Advisors are specially trained to help guide and evaluate your bike service needs.
        No matter what your familiarity might be with bikes, you'll get exactly the right help.
    </p>

    <p class="paragraph">
        All of our repair shops are staffed with highly qualified Master Technicians. The Master Tech in each store is responsible for training the bike shop staff,
        ensuring that we're well-equipped to handle all types of service, and help get your bike the best care possible.

        Each Master Technician attends an intensive, hands-on certification program at the Barnett Bicycle Institute in Colorado Springs, CO.
        This ensures that our shops possess the highest level of technical skill out there—including expertise with modern suspension technology,
        and leading-edge hydraulic systems and drivetrains.
    </p>

    <br />
    <br />
    <br />
    <br />
    <br />

</body>
</html>
