body {
min-width: 40%;
margin: 0 auto;
width: 100%;
background-color: darkkhaki;
}

#reasonForContacting{
    padding-left: 3%;
}

#reasonForContactingOptions {
    padding-left: 15%;
}

#productStyle {
    width: 70%;
    float: left;
    color: white;
    padding-left: 10%;
    font-size: 120%;
}

#shopPage {
margin: 0 auto;
padding-left: 20%;
padding-right: 20%;
}

#productsPageContent {
margin: 0 auto;
display: none;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
padding-left: 15px;
padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
max-width: 280px;
}*/


.logo img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

#indexImage img {
margin: 0 auto;
display: block;
width: 100%;
/*border: solid;
border-width: 2em;
border-color: white;*/
/*padding-top: 2.5em;*/
}

#indexImage {
position: relative;
width: 100%;
}

#indexImage .btn {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ffa31a;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    height: 20%;
    font-size: 40px;
}

.btnText{
    margin: 0 auto;
    padding-top: 2%;
}

#indexAboutUsImage {
padding-top: 2%;
position: relative;
width: 100%;
}

#indexAboutUsImage img {
    display: block;
    width: 70%;
    margin: 0 auto;
    border: solid;
    border-width: 1em;
    border-color: white;
}

#indexAboutUsImage .btn {
    position: absolute;
    top: 25%;
    left: 67%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ffa31a;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 25%;
    height: 20%;
    font-size: 40px;
}

    #indexAboutUsImage .btn:hover {
        background-color: #e68a00;
    }

#indexImage .btn:hover {
background-color: #e68a00;
}

.btn-success {
color: firebrick;
}

.paragraph {
font-size: 140%;
max-width: 70%;
width: 70%;
color: black;
padding-top: 2%;
margin: 0 auto;
}

#aboutUsImage img {
margin: 0 auto;
display: block;
width: 100%;
/*border: solid;
border-width: 2em;
border-color: white;*/
}


#onlineStoreImage {
position: relative;
width: 100%;
}

#onlineStoreImage img {
    margin: 0 auto;
    display: block;
    width: 100%;
}


.contactForm .form-group .col-md-8 {
width: 100%;
margin: 0 auto;
}

#registerPageForm{
    padding-top: 5%;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

#renderBody {
width: 100%;
}

/*#switchboardButtons {
width: 20%;
float: left;  
}

#switchboardButtons button{
margin-left: 15%;
color: white;
}*/

#productImage {
display: none;
border: solid;
border-color: black;
}

#loginScreen {
    margin: 0 auto;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 40%;
}

#loginSubmit{
    /*margin-bottom: 70%;*/
}

#registerFormGroup {
    /*display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;*/
    padding-top: 5%;
    display: flex;
    justify-content: center;
    
}

.registerTextbox {
    /*width: 40%;*/
}

.registerFormSection{
    padding-top: 5%;
}

#fillerDiv{
    padding-top: 5%;
}


#header {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-top: 4%;
padding-bottom: 0.2%;
color: firebrick;
font-size: 350%;
font-weight: bold;
text-align: center;
}

#subtitle {
padding-top: 0.2%;
padding-bottom: 2%;
color: firebrick;
font-size: 120%;
font-weight: bold;
text-align: center;
display: none;
}


#footerStarter {
font-size: 0.1%;
}

/*footer*/
.col_white_amrc {
color: #FFF;
}

footer {
width: 100%;
background-color: #263238;
min-height: 250px;
padding: 10px 0px 25px 0px;
}

.pt2 {
padding-top: 40px;
margin-bottom: 20px;
}

footer p {
font-size: 13px;
color: #CCC;
padding-bottom: 0px;
margin-bottom: 8px;
}

.mb10 {
padding-bottom: 15px;
}

.footer_ul_amrc {
margin: 0px;
list-style-type: none;
font-size: 14px;
padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

    .footer_ul_amrc li a {
        color: #CCC;
    }

        .footer_ul_amrc li a:hover {
            color: #fff;
            text-decoration: none;
        }

.fleft {
float: left;
}

.padding-right {
padding-right: 10px;
}

.footer_ul2_amrc {
margin: 0px;
list-style-type: none;
padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
border-bottom: 1px solid #323f45;
padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
list-style-type: none;
padding: 0px;
display: table;
margin-top: 10px;
margin-right: auto;
margin-bottom: 10px;
margin-left: auto;
}

.foote_bottom_ul_amrc li {
display: inline;
}

.foote_bottom_ul_amrc li a {
color: #999;
margin: 0 12px;
}

.social_footer_ul {
display: table;
margin: 15px auto 0 auto;
list-style-type: none;
}

.social_footer_ul li {
padding-left: 20px;
padding-top: 10px;
float: left;
}

.social_footer_ul li a {
color: #CCC;
border: 1px solid #CCC;
padding: 8px;
border-radius: 50%;
}

.social_footer_ul li i {
width: 20px;
height: 20px;
text-align: center;
}

#productImageAndText {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 10%;
    background-color: #aaa460;
    border: solid;
    border-width: .2em, .5em, .2em, .5em;
    border-color: black;
    min-width: 250px;
}


/*NAVBAR STUFF*/
.navbar{
    min-height: 90px;
    min-width: 100%;
}

#custom-bootstrap-menu{
    margin: 0 auto;
    min-width: 100%;
}

#custom-bootstrap-menu.navbar-default .navbar-brand{
    width: 20em;
    height: 11.5%;
    margin-top: -1em;
}

#custom-bootstrap-menu.navbar-default .navbar-brand img{
    width: 100%;
}

#firstListItem{
    /*margin-left: 40%;*/
}

#custom-bootstrap-menu.navbar-default {
    padding-top: .5em;
    font-size: 32px;
    background-color: rgba(40, 66, 36, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 66, 36, 1);
    text-align: center;
    padding-left: 20px;
    margin-top: 1em;
    /*padding-right: 20px;*/
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(52, 92, 47, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(68, 117, 61, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #44753d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #44753d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #44753d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #284224;
}


.responsive-width {
    font-size: 3vw;
}

#productImageDiv {
    width: 30%;
    float: left;
    padding-top: .5em;
    padding-left: 5%;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 1400px) {
    #productStyle {
        margin-left: 20%;
    }

    #productDescShort {
        font-size: 80%;
        width: 85%;
    }

    /*productImageAndText img{
        margin: 0 auto;
        padding-left: 50%;
    }*/
}

@media only screen and (max-width: 1250px) {
    .nav li{
        font-size: 50%;
    }
    #headerLogo img {
        max-width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    .logo img{
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    #headerLogo img{
        max-width: 70%;
    }

    .paragraph {
        font-size: 100%;
    }

    .btnText{
        padding-top: 0%;
        padding-bottom: 2%;
    }

    #indexAboutUsImage img{
        border-width: 0.25em;
    }

    #productDescShort{
        font-size: 80%;
    }

    #productImageAndText {
        padding-right: 20%;
    }

    #productImageDiv{
        float: left;
    }

    /*#productImageDiv img{
        width: 120%;
    }*/

    #footer p, #footer li{
        font-size: 70%;
    }
}

@media only screen and (max-width: 450px) {
    #productImageandText {
        width: 250px;
    }

    /*#productImageDiv img{
        width: 90%;
    }*/
}